/* fonts  */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,700&display=swap');

/* base style  */
body{
    font-family: 'Poppins', sans-serif;
}
/* fast section styles  */
.worldcup-Container{
    position: absolute;
    width: 1321px;
    height: 664px;
    margin-top: 30px;
    margin-left: 15%;
    border-radius: 25px;
    background-color: #161616;
}
.worldcup{
    display: grid;
grid-template-columns: repeat(2, 1fr);
position: absolute;
transform: translate(50%,);
}
.worldcup .main-think{
    color: white;
    padding-top: 10px;
    padding-left: 60px;
    padding-right: 60px;
   

} 
.worldcup .main-think h1{
    font-size: 4em;
}
.worldcup .main-think button{
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: white;
    font-size: larger;
    font-weight: 700;
    border-radius: 5px;}
.worldcup .player-image img{
    width: 95.5%;
}